# 1. 忽略 PiPa 文件夹内的 Unity 自动生成目录
PiPa/[Ll]ibrary/
PiPa/[Tt]emp/
PiPa/[Oo]bj/
PiPa/[Bb]uild/
PiPa/[Bb]uilds/
PiPa/[Ll]ogs/
PiPa/[Uu]ser[Ss]ettings/

# 自动生成的文件
*.pidb.meta
*.pdb.meta
*.mdb.meta
 

# Unity3D生成的文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
 
# OS生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
 
# Visual Studio生成的文件
.vs/
*.apk
*.unitypackage