# 1. 忽略 PiPa 文件夹内的 Unity 自动生成目录
PiPa/[Ll]ibrary/
PiPa/[Tt]emp/
PiPa/[Oo]bj/
PiPa/[Bb]uild/
PiPa/[Bb]uilds/
PiPa/[Ll]ogs/
PiPa/[Uu]ser[Ss]ettings/

# 2. 忽略 PiPa 文件夹内的特定资源生成项
# 注意：这里在路径前都加上了 PiPa/
PiPa/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
PiPa/[Aa]ssets/[Ss]treamingAssets/aa.meta
PiPa/[Aa]ssets/[Ss]treamingAssets/aa/*
PiPa/[Aa]ssets/Plugins/Editor/JetBrains*

# 3. 忽略通用临时文件（无论在哪个层级）
*.log
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
.vs/
.gradle/
ExportedObj/
.consulo/
crashlytics-build.properties

# 4. 忽略构建输出
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app